<table>
    <thead>
      <tr>
        <th>ID_Usuario</th>
        <th>Titulo</th>
        <th>Conteudo</th>
        <th>Data</th>
        <th>Link do Post</th>
      </tr>
    </thead>
    <tbody>
      <% let i = 0; for (i = 0; i< dados.length; i++) {%>
      <tr>
        <td><%= dados[i].id_user %></td>
        <td><%= dados[i].title %></td>
        <td><%= dados[i].content %></td>
        <td><%= dados[i].data_criacao %></td>
        <td><a href=/postCompleto/<%=dados[i].id%>>Post Completo</a></td>
      </tr>
      <% } %>
    </tbody>
  </table>