<%- console.log(JSON.stringify(dados)); %>
<%- console.log(JSON.stringify(req.session.username)); %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Senha</th>
    </tr>
  </thead>
  <tbody>
    <% let i = 0; for (i = 0; i< dados.length; i++) {%>
    <% if (dados[i].username == req.session.username) {%>
      <tr style="background-color: red; color: white;">
    <%} else {%>
    <tr>
    <% }%>
      <td><%= dados[i].id %></td>
      <td><%= dados[i].username %></td>
      <td><%= dados[i].password %></td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr>
        <td colspan="3">
            <%- `Qtd de Registros: ${i}`%>
        </td>
    </tr>
  </tfoot>
</table>