<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br>
    <%- console.log(JSON.stringify(dados)); %>
    <a href="/postCompleto/<%= dados.id %>"><img src="../../static/voltar.png" width="40px" style="margin: 10px;"></a>
    <center>
        <h1 id="h1Login">POSTAGEM <%= dados.id %></h1>
        <main>
            <form action="/editarPost/<%= dados.id %>" method="post" onsubmit="return confirm('Tem Certeza Que Deseja Salvar as Alterações?');" class="formItens">
        <table id="tblPost">
            <tr>
                <td>
                    Titulo:
                </td>
                <td>
                    <input type="text" name="title" id=title" style="width: 400px;" value="<%= dados.title %>" required>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    Conteúdo:
                </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>
                    <textarea name="content" id="content" rows="6" cols="45" required><%= dados.content %></textarea>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <button type="submit" id="btnPost">Salvar Alterações</button>
            </form>
        </main>
    </center>

    <%- include("../partials/footer") %>
</body>

</html>