<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head") %>
<%- include("../partials/menu") %>
<head>
  <meta charset="UTF-8">
  <title>Nova Arrecadação</title>
</head>

<body>
  <center>
    <br><br>
  <h1>Nova Arrecadação</h1>
  <br>

    <form action="/nova-arrecadacao" method="post" class="envio">

    <label for="turma">Selecione uma turma:</label>
    <select name="id_turma" id="id_turma" style="width: 200px;">
      <option value="">[Escolha]</option>
      <% let i = 0; for (i = 0 ; i< turmas.length; i++) {%>
      <option value="<%= turmas[i].id_turma %>"><%= turmas[i].sigla %> - [<%= turmas[i].docente %>]</option>
      <% } %>
    </select>
    <br>

    <br>&nbsp;

    <label for="roupas">Selecione a Roupa:</label>
    <select name="id_roupa" id="id_roupa" style="width: 200px;">
      <option value="">[Escolha]</option>
      <% for (let i = 0; i < pontuacoes.length; i++) { %>
      <option value="<%= pontuacoes[i].id %>">
        <%= pontuacoes[i].Descricao %> - <%= pontuacoes[i].pontos %> pontos
      </option>
      <% } %>
    </select>
<br>
    <br>&nbsp;

    <label for="roupas">Selecione a quantidade:</label>
    <select name="qtd" id="qtd" style="width: 200px;">
      <option value="">[Escolha]</option>
      <% for (let i = 1; i <= 15; i++) { %>
      <option value="<%= i %>"><%= i %></option>
      <% } %>
    </select>
    <br><br>

    <button type="submit" class="novarrec">Enviar</button>

  </form>
</center>
<br><br>
<%- include("../partials/footer") %>
</body>

</html>