<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br><br>
    <a href="/posts"><img src="../../static/voltar.png" width="40px"/ style="margin: 10px;"></a>
    <br><br>
    <center>
    <div>
        <%- console.log(JSON.stringify(dados)); %>
        ID USUARIO: <%= dados[0].id_user %>
        <br>
        <h1><%= dados[0].title %></h1>
        <br>
        <label><%= dados[0].content %></label>
        <br>
        <br>
        <label>Data: <%= dados[0].data_criacao %></label>
    </div>
    </center>
    <%- include("../partials/footer") %>
</body>

</html>