<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br><br>
    <%- console.log(JSON.stringify(dados)); %>
    <center>
    <h1>POSTAGENS</h1>
    <h2>Buscar Post</h2>
    <form action="/posts" method="post">
        <input type="search" name="title" value="<%= contentInput %>" placeholder="Busque pelo Titulo de um POST">
        <br><br>
        <button type="submit">BUSCAR</button>
        <br><br>
    </form>
    <main id="MainDash">
    <%- include("../partials/poststable"); %>
    </main>
    </center>
    <%- include("../partials/footer") %>
</body>

</html>